<div class="mat-dialog">
    <div class="mat-content">
        <div class="mat-header justify-content-center">
            <button type="button" class="close" [mat-dialog-close]="true">
                <i class="tim-icons icon-simple-remove text-white"></i>
            </button>
            <div class="text-muted text-center ml-auto mr-auto" style="align-content: center;">
                <h3 class="mb-0">{{data.title}}</h3>
            </div>
            <!-- <button type="button" class="close">
                <i class="tim-icons icon-simple-remove text-white"></i>
            </button> -->
        </div>
        <div class="mat-body">
            <!-- <div class="btn-wrapper text-center">
            <a href="#" class="btn btn-neutral btn-icon">
              <img src="assets/img/github.svg">
            </a>
            <a href="#" class="btn btn-neutral btn-icon">
              <img src="assets/img/google.svg">
            </a>
          </div> -->
            <!-- <div class="text-center text-muted mb-4 mt-3">
                <small>Sign in with credentials</small>
            </div> -->
            <h4>{{data.content}}</h4>>
            <form role="form">
                
                <div class="text-center">
                    <button type="button" class="btn btn-primary my-4" [mat-dialog-close]="true">close</button>
                </div>
            </form>
        </div>
    </div>
</div>