<div class="wrapper">
    <div class="main">

        <div class="section section-tabs">
            <div class="container">
                <div class="title">
                    <h3 class="mb-3">Collection Market</h3>
                </div>
                <div class="row">
                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <!-- <div class="mb-3">
                            <small class="text-uppercase font-weight-bold">With icons</small>
                        </div> -->
                        <!-- Nav tabs -->
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs nav-tabs-primary" role="tablist">
                                    <li class="nav-item">
                                        <!-- <div>
                                            <ul class="pagination pagination-primary">
                                                <li class="page-item active">
                                                  <a class="page-link" href="#">1</a>
                                                </li>
                                                <li class="page-item">
                                                  <a class="page-link" href="#link">2</a>
                                                </li>
                                                <li class="page-item">
                                                  <a class="page-link" href="#link">3</a>
                                                </li>
                                                <li class="page-item">
                                                  <a class="page-link" href="#link">4</a>
                                                </li>
                                                <li class="page-item">
                                                  <a class="page-link" href="#link">5</a>
                                                </li>
                                              </ul>
                                        </div> -->

                                        <div class="input-group">
                                            <!-- <input type="text" class="form-control" placeholder="Right Nucleo Icon"> -->
                                            <select name="qt" class="form-control" style="background-color: #242649;">
                                                <option>0</option>
                                                <option>1</option>
                                                <option>2</option>
                                            </select>
                                          </div>
                                    </li>
                                    <li class="nav-item">
                                        &nbsp;
                                    </li>
                                    <li class="nav-item">
                                        &nbsp;
                                    </li>
                                    <li class="nav-item">
                                        &nbsp;
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#link1" role="tablist">
                                            <i class="tim-icons icon-spaceship"></i> Buy 2 NFT
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <!-- Tab panes -->
                                <div class="tab-content tab-space">
                                    <div class="tab-pane active" id="link1" style="align-content: center; width: 100%;">
                                        &nbsp;<img src="assets/img/img_demo1.png" width="500px" height="667px" alt="demo">
                                    </div>
                                    <br/>
                                    <div class="tab-pane active" id="link2">
                                        <p>Our washing machine NFT is part of automatique business family .<br/> 
                                           This NFT is giving 1 % cashBack to its holder every single month.<br/>
                                           By adding other kind of cards you can generate up to 3% cash back.<br/> 
                                           Washing your clothes have never been so lucrative. 
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-10 ml-auto col-xl-6 mr-auto">
                        <!-- <div class="mb-3">
                            <small class="text-uppercase font-weight-bold">With text</small>
                        </div> -->
                        <!-- Tabs with Background on Card -->
                        <div class="card">
                            <div class="card-header">
                                <ul class="nav nav-tabs nav-tabs-primary" role="tablist">
                                    <li class="nav-item">
                                        <a class="nav-link active" data-toggle="tab" href="#link4" role="tablist">
                                            Profile
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#link5" role="tablist">
                                            Settings
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" data-toggle="tab" href="#link6" role="tablist">
                                            Options
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="card-body">
                                <!-- Tab panes -->
                                <div class="tab-content tab-space">
                                    <div class="tab-pane active" id="link1">
                                        <img src="assets/img/img_demo2.png"  width="500px" height="667px" alt="demo">
                                    </div>
                                    <br/>
                                    <div class="tab-pane active" id="link3">
                                        <p> Our real estate NFT is an exclusive digital asset.<br />
                                            This NFT is giving 2 % cashBack to its holder every single month.<br />
                                            By adding other kind of cards you can generate up to 4% cash back. <br />
                                            Your grandpa had Monopoly, you have NFTIMABLE now. Don’t be old fashioned.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Tabs on plain Card -->
                    </div>
                </div>
            </div>
        </div>



        <!-- End Section Tabs -->


        <div class="section section-nucleo-icons">
            <img src="assets/img/path3.png" class="path">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-md-12">
                        <h2 class="title">Nucleo Icons</h2>
                        <h4 class="description">
                            BLK• Design System PRO comes with 100 custom icons made by our friends from NucleoApp. The
                            official package contains over 2.100 thin icons which are looking great in combination with
                            BLK• Design System PRO Make sure you check all of them and use those that you like the most.
                        </h4>
                        <div class="btn-wrapper">
                            <a href="./docs/1.0/foundation/icons.html" class="btn btn-primary btn-round"
                                target="_blank">View Demo Icons</a>
                            <a href="https://nucleoapp.com/?ref=1712"
                                class="btn btn-primary btn-simple btn-round btn-lg" target="_blank">View All Icons</a>
                        </div>
                    </div>
                </div>
                <div class="blur-hover">
                    <a href="./docs/1.0/foundation/icons.html">
                        <div class="icons-container blur-item on-screen mt-5">
                            <!-- Center -->
                            <i class="icon tim-icons icon-coins"></i>
                            <!-- Right 1 -->
                            <i class="icon icon-sm tim-icons icon-spaceship"></i>
                            <i class="icon icon-sm tim-icons icon-money-coins"></i>
                            <i class="icon icon-sm tim-icons icon-link-72"></i>
                            <!-- Right 2 -->
                            <i class="icon tim-icons icon-send"></i>
                            <i class="icon tim-icons icon-mobile"></i>
                            <i class="icon tim-icons icon-wifi"></i>
                            <!-- Left 1 -->
                            <i class="icon icon-sm tim-icons icon-key-25"></i>
                            <i class="icon icon-sm tim-icons icon-atom"></i>
                            <i class="icon icon-sm tim-icons icon-satisfied"></i>
                            <!-- Left 2 -->
                            <i class="icon tim-icons icon-gift-2"></i>
                            <i class="icon tim-icons icon-tap-02"></i>
                            <i class="icon tim-icons icon-wallet-43"></i>
                        </div>
                        <span class="blur-hidden h5 text-primary">Eplore all the 21.000+ Nucleo Icons</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="section section-signup">
            <div class="container">
                <div class="squares square-1"></div>
                <div class="squares square-2"></div>
                <div class="squares square-3"></div>
                <div class="squares square-4"></div>
                <div class="row row-grid justify-content-between align-items-center">
                    <div class="col-lg-6">
                        <h3 class="display-3 text-white">A beautiful Black Design
                            <span class="text-white">completed with examples</span>
                        </h3>
                        <p class="text-white mb-3">The Design System comes with four pre-built pages to help you get
                            started faster. You can change the text and images and you're good to go. More importantly,
                            looking at them will give you a picture of what you can built with this powerful Bootstrap 4
                            Design System.</p>
                        <div class="btn-wrapper">
                            <a href="examples/register-page.html" class="btn btn-info">Register Page</a>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-lg-auto">
                        <div class="card card-register">
                            <div class="card-header">
                                <img class="card-img" src="assets/img/square1.png" alt="Card image">
                                <h4 class="card-title">Register</h4>
                            </div>
                            <div class="card-body">
                                <form class="form">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-single-02"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Full Name">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-email-85"></i>
                                            </div>
                                        </div>
                                        <input type="text" placeholder="Email" class="form-control">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-lock-circle"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Password">
                                    </div>
                                    <div class="form-check text-left">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            I agree to the
                                            <a href="javascript:void(0)">terms and conditions</a>.
                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <a href="javascript:void(0)" class="btn btn-info btn-round btn-lg">Get Started</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-examples" data-background-color="black">
            <img src="assets/img/path1.png" class="path">
            <div class="space-50"></div>
            <div class="container text-center">
                <div class="row">
                    <div class="col-sm-6">
                        <a href="examples/landing-page.html">
                            <img src="assets/img/landing-page.png" alt="Image" class="img-raised">
                        </a>
                        <a href="examples/landing-page.html" class="btn btn-simple btn-primary btn-round">View Landing
                            Page</a>
                    </div>
                    <div class="col-sm-6">
                        <a href="examples/profile-page.html">
                            <img src="assets/img/profile-page.png" alt="Image" class="img-raised">
                        </a>
                        <a href="examples/profile-page.html" class="btn btn-simple btn-primary btn-round">View Profile
                            Page</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="section section-download" id="#download-section" data-background-color="black">
            <img src="assets/img/path1.png" class="path">
            <div class="container">
                <div class="row justify-content-md-center">
                    <div class="text-center col-md-12 col-lg-8">
                        <h2 class="title">Do you love this Bootstrap 4 Design System?</h2>
                        <h4 class="description">Cause if you do, it can be yours for FREE. Hit the button below to
                            navigate to Creative Tim where you can find the design system in HTML format. Start a new
                            project or give an old Bootstrap project a new look!</h4>
                    </div>
                    <div class="text-center col-md-12 col-lg-8">
                        <a href="https://www.creative-tim.com/product/blk-design-system"
                            class="btn btn-primary btn-round btn-lg" role="button">
                            Download HTML
                        </a>
                        <!-- <a href="https://www.invisionapp.com/now" target="_blank" class="btn btn-primary btn-lg btn-simple btn-round" role="button">
                        Download PSD/Sketch
                    </a> -->
                    </div>
                </div>
                <br>
                <br>
                <br>
                <!-- <div class="row text-center mt-5">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2>Want more?</h2>
                    <h5 class="description">We've just launched <a href="http://demos.creative-tim.com/black-kit-pro/presentation.html" target="_blank">BLK• Design System PRO</a>. It has a huge number of components, sections and example pages. Start Your Development With A Badass Bootstrap 4 Design System.</h4>
                </div>
                <div class="col-md-12">
                    <a href="http://demos.creative-tim.com/black-kit-pro/presentation.html" class="btn btn-neutral btn-round btn-lg" target="_blank">
                        <i class="tim-icons icon-cloud-upload-94"></i> Upgrade to PRO
                    </a>
                </div>
            </div> -->
                <br>
                <br>
                <div class="row row-grid align-items-center my-md">
                    <div class="col-lg-6">
                        <h3 class="text-primary font-weight-light mb-2">Thank you for supporting us!</h3>
                        <h4 class="mb-0 font-weight-light">Let's get in touch on any of these platforms.</h4>
                    </div>
                    <div class="col-lg-6 text-lg-center btn-wrapper">
                        <a id="twitter" class="btn btn-icon btn-twitter btn-round btn-lg" data-toggle="tooltip"
                            data-original-title="Tweet!">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a id="facebook" class="btn btn-icon btn-facebook btn-round btn-lg" data-toggle="tooltip"
                            data-original-title="Share!">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a target="_blank" href="https://github.com/creativetimofficial"
                            class="btn btn-icon btn-github btn-round btn-lg" data-toggle="tooltip"
                            data-original-title="Star on Github">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Sart Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove"></i>
                        </button>
                        <h4 class="title title-up">Modal title</h4>
                    </div>
                    <div class="modal-body">
                        <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia,
                            there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the
                            Semantics, a large language ocean. A small river named Duden flows by their place and
                            supplies it with the necessary regelialia. It is a paradisematic country, in which roasted
                            parts of sentences fly into your mouth.
                        </p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default">Nice Button</button>
                        <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!--  End Modal -->
        <!-- Mini Modal -->
        <div class="modal fade modal-mini modal-primary modal-mini" id="myModal1" tabindex="-1" role="dialog"
            aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove text-white"></i>
                        </button>
                        <div class="modal-profile">
                            <i class="tim-icons icon-single-02"></i>
                        </div>
                    </div>
                    <div class="modal-body">
                        <p>Always have an access to your profile</p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-link btn-neutral">Back</button>
                        <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- Form Modal -->
        <div class="modal fade modal-black" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header justify-content-center">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                            <i class="tim-icons icon-simple-remove text-white"></i>
                        </button>
                        <div class="text-muted text-center ml-auto mr-auto">
                            <h3 class="mb-0">Sign in with</h3>
                        </div>
                    </div>
                    <div class="modal-body">
                        <div class="btn-wrapper text-center">
                            <a href="#" class="btn btn-neutral btn-icon">
                                <img src="assets/img/github.svg">
                            </a>
                            <a href="#" class="btn btn-neutral btn-icon">
                                <img src="assets/img/google.svg">
                            </a>
                        </div>
                        <div class="text-center text-muted mb-4 mt-3">
                            <small>Or sign in with credentials</small>
                        </div>
                        <form role="form">
                            <div class="form-group mb-3">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="tim-icons icon-email-85"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" placeholder="Email" type="email">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="input-group input-group-alternative">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text">
                                            <i class="tim-icons icon-key-25"></i>
                                        </span>
                                    </div>
                                    <input class="form-control" placeholder="Password" type="password">
                                </div>
                            </div>
                            <div class="form-check mt-3">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="checkbox" checked>
                                    <span class="form-check-sign"></span>
                                    Remember me!
                                </label>
                            </div>
                            <div class="text-center">
                                <button type="button" class="btn btn-primary my-4">Sign in</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--  End Modal -->
    </div>
    <footer class="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="title">BLK•</h1>
                </div>
                <div class="col-md-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="./index.html" class="nav-link">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./examples/landing-page.html" class="nav-link">
                                Landing
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./examples/register-page.html" class="nav-link">
                                Register
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="./examples/profile-page.html" class="nav-link">
                                Profile
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <ul class="nav">
                        <li class="nav-item">
                            <a href="https://creative-tim.com/contact-us" class="nav-link">
                                Contact Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://creative-tim.com/about-us" class="nav-link">
                                About Us
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://creative-tim.com/blog" class="nav-link">
                                Blog
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="https://opensource.org/licenses/MIT" class="nav-link">
                                License
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-3">
                    <h3 class="title">Follow us:</h3>
                    <div class="btn-wrapper profile">
                        <a target="_blank" href="https://twitter.com/creativetim"
                            class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip"
                            data-original-title="Follow us">
                            <i class="fab fa-twitter"></i>
                        </a>
                        <a target="_blank" href="https://www.facebook.com/creativetim"
                            class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip"
                            data-original-title="Like us">
                            <i class="fab fa-facebook-square"></i>
                        </a>
                        <a target="_blank" href="https://dribbble.com/creativetim"
                            class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip"
                            data-original-title="Follow us">
                            <i class="fab fa-dribbble"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>