<h1>Terms and Conditions</h1>
<h2>Article 1 – Definitions</h2>
<p>Allows you to know what we are talking about in this contract. In case of doubt, do not hesitate to consult this section: it will avoid confusion and misunderstandings.
</p>

<p>
Buyer Refers to the User acquiring a Collectible on the NFTimable’s hub.
Collectible Refers to the digital cards featuring any possessions that are available within the Service, as well as the underlying tokens that can be used on a blockchain.
Cryptocurrency Refers to any a digital asset designed to work as a medium of exchange on blockchain and accepted in payment throughout the Services.
Currency Refers to any currency being legal tender (euro, dollar, etc.).
Hub Refers to the service offered by NFTimable that allows Users to exchange, sell or hold Collectibles on it.
NFT Refers to the Non-Fungible Token (also known as Crypto-good or Crypto-collectible) which represents on blockchain the Collectible digital card. This token ensures the scarcity of the Collectible and the transparency of the service.
Seller Refers to the User offering to sale his own Collectible on the Service’ hub.
Services Refers to every services accessible on NFTimable.com with a User account, namely the sales section, the Hub, the gallery and the game arena.
Terms and Conditions (T&Cs) These Terms and Conditions constitute a legally binding agreement (hereinafter, the "T&Cs") between you and NFTimable (as defined above) governing your access to and use of the Website and all associated services (hereinafter, the "Services").
Third-Party Services Refers to the services not operated by NFTimable, but use to provides content or additional features to the Users such as payment service, marketplaces of collectibles, etc.
User Refers to any natural person or legal person using the services offered by the Service or visiting its website with a full legal capacity and who is not acting for purposes relating to his trade, business, craft or profession.
Website Refers to the website www.NFTimable.com including any subdomains thereof, and any other websites through which NFTimable makes its services available.
</p>

<h2>Article 2 – Scope</h2>
<p>
Refers to what NFTimable is committed to doing today and tomorrow and to the best of its ability: allowing you to collect, purchase, 
exchange and hold with collectible cards of the possessions, assets you have chosen within a easy and constantly improving interface.</p>

<p>If NFTimable makes you became the Lord of Collectibles, you are expected to read these T&Cs and accept them entirely.</p>

<p>
2.0.1 NFTimable (the “Service”) is an online website that enables registered users (the “User”) to acquire, collect and exchange collectible digital card featuring professional real-life posessions (the “Collectible”) and the underlying token based on blockchain technology (the “NFT”). The service is available on the website www.NFTimable.com (the “Website”) and allows its Users to buy, transfer, sell or exchange collectible cards, either within the Service or with third parties.>
</p>
<p>
2.0.2 For more information, Users are invited to consult the FAQ (https://NFTimable.com/faq) where all information relating to the Service and answers to questions asked by Users are available.
</p>
<p>
2.0.3 These T&Cs apply, without restriction or reservation, to any use of the Services offered by the Service to consumers and non-professional Users on its Website. At the time the User chooses to sell a Collectible on the Hub, he/she fully and unconditionally accepts these T&Cs.
</p>
<p>
2.0.4 The User acknowledges that he/she has, in his/her country, the capacity to contract and to subscribe to the Service and declares that he/she has read and accepted the T&Cs by ticking the box provided for this purpose. The account creation by the User constitutes acceptance without restriction or reservation of these T&Cs.
</p>
<p>
2.0.5 Unless proven otherwise, the data recorded in the service provider's computer system constitutes proof of all transactions concluded by the User and the Service via the website.
</p>
<p>
2.0.6 These T&Cs are accessible at any time on the website and will prevail over any other version or any other contradictory document.
</p>
<p>
2.0.7 As these T&Cs may be subject to subsequent modifications, the version applicable to the User's purchase is the one in force on the website on the date of placing the order.
</p>
<p>
2.0.8 The Service may contain links or content from third-party websites or resources (“Third-Party Services”). Such Third-Party Services may be subject to different terms and conditions and privacy practices. The Service is not responsible or liable for the availability or accuracy of such Third-Party Services, or the content, products, or services available from such Third-Party Services. Links to such Third-Party Services are not an endorsement by the Service of such Third-Party Services.
</p>
<h2>Article 3 – Account</h2>
<p>
To use NFTimable, you must – quite logically – create an account and secure it !
</p>
These services will evolve, upwards and downwards, but Sorare will always keep you informed.
<p>
Of course, you can always leave us, but don't forget your Collectibles and the crypto in your wallet’ account !
</p>
<p>
Article 3.1 – Creation and access
</p>
<p>
3.1.1 Any User can create an account on the Service by:
</p>
<p>
providing his/her username, e-mail address; and
choosing a (strong) password;
</p>
<p>
accepting the Terms and conditions and the NFTimable’s Rules..
</p>
<p>
3.1.2 The Service shall not be held liable for the loss or theft of a password by the User, or by the resulting account impersonation.
</p>
<p>
3.1.3 It is the User's responsibility to take all measures to secure access to this data.
</p>
<p>
Article 3.2 – Deletion
</p>
<p>
3.2.1 The User may, at any time, request the deletion of his/her account under the conditions set out by the Website.
</p>
<p>
3.2.2 The deletion of an account irreversibly leads to the deletion of all its data, as well as the associated Wallet and Collectibles stored. Users are required to save their Collectible on an external wallet, using the “withdrawal feature” located on each page of the Collectibles owned by the users, before any deletion procedure.
</p>
<p>
3.2.3 The Service shall not be held liable, in any circumstances, for the loss of Collectible arising from the User’s account deletion.
</p>
<p>
Article 3.3 – Wallet
</p>
<p>
3.3.1 The Service provides each account with a unique Wallet to ensure the conservation and the use of Collectible and Cryptocurrency within the Service.
</p>
<p>
3.3.2 Users are free to use the Wallet to execute transactions within the Service. He/She may credit or debit the Wallet with his/her own Cryptocurrency and Collectibles at any time, within the limits defined by the Service.
</p>
<p>
3.3.3 The Service limits the amount that can be stored in the Wallet of the User's account. These limits are always indicated in the Service's FAQ.
</p>
<p>
3.3.4 Wallets relies on an experimental technology independent of the Service. Therefore, the Service should not be held liable for any technical default, hacking or loss of the data stored on the Wallet.
</p>
<h2>
Article 4 – Services
</h2>
<p>
NFTimable allows you to buy Collectibles through an auction mechanism or in pack of several Collectibles. Once collected, you can exchange your Collectibles against crypto or … keep them to have the best portfolio ever.
</p>
<p>
On a regular basis, NFTimable organizes for their Users a tournament in order to win prizes: collect, hold and win, fidelity’s point or gifts  !
</p>
<p>
Article 4.1 – Collectible features and characteristics
</p>
<p>
4.1.1 Collectible are issued by the Service based on a level of scarcity specified on each item. For instance, a Collectible may be rare, super rare or unique, regarding the total number of items offered. The scarcity of a Collectible is guaranteed by the underlying NFT, that can be monitored directly on blockchain.
</p>
<p>
4.1.2 Collectible card effigies are allowed under agreements between the Service and the natural or legal persons concerned. All contractual provisions between the Service and these persons are enforceable against Users.
</p>
<p>
Article 4.2 – Issuance of Collectible
</p>
<p>
4.2.1 The Service offers Collectibles for sale by way of auctions in which the Service only sets the floor price before Users bid up for a specified period of time. The Buyer is the last bidder. There is no reservation price.
</p>
<p>
During the auction process, the Service keeps the Cryptocurrency funds under escrow to ensure payment. The funds of participants other than the Buyer are automatically given back at the end of the sale.
</p>
<p>
4.2.2 The Service collects a fee from the sale price of the Collectible automatically at the end of the auction. The amount of this commission is specified in the FAQ and may be changed at any time by the Service.
</p>
<p>
4.2.3 The Service offers the sale of Collectible packs.
</p>
<p>
4.2.4 Given the digital nature of the Collectible, the withdrawal period provided for in Articles L. 221-18 et seq. of the French Consumer Code and the article 9 of the European directive related to Consumer Right Protection shall no apply.
</p>
<p>
BY PURCHASING A COLLECTIBLE ON THE WEBSITE, THE USER EXPRESSLY WAIVES HIS/HER RIGHT OF WITHDRAWAL.
</p>
<p>
Article 4.3 – Transfer and exchange
</p>
<p>
4.3.1 User has the possibility to withdraw his/her Collectibles from the Service's account, as well as to exchange his/her Collectibles on the Service's Hub or through a third party service.
</p>
<p>
4.3.2 The Service is under no circumstances liable for any damage that may occur during the transfer, withdrawal or exchange of Collectibles outside the Service.
</p>
<p>
Article 4.4 – Competition
</p>
<p>
4.4.1 The game, entitled "Catch’em all", is based on a virtual tournament that tracks the real-life posessions value, accessible from a dedicated area ("Collectibles Arena") on the Website.
</p>
<p>
4.4.2 This promotional competition is legally governed by rules that can be consulted here: www.s.com/faq
</p>
<p>
Article 4.5 – Support
</p>
<p>
4.5.1 Support is available at this email address: contact@nftimable.com.
</p>
<p>
4.5.2 The Service undertakes to respond as quickest as possible, depending on the number of requests in process.
</p>
<h2>Article 5 – Hub</h2>
<p>
The Hub of NFTimable is the place where you can easily exchange your Collectible against Cryptocurrency.
</p>
<p>
You have almost nothing to do, nor to customize to auction your cards.
</p>
<p>
Beware of taxes on earnings from the sale of your Collectibles.
</p>
<p>
5.0.1 The Service provides a Hub that allows Users to exchange amongst them Collective against Cryptocurrency or Collectible.
</p>
<p>
5.0.2 This article shall apply only to the relations between Buyer and Seller in the context of the exchange of a Collectible on the Website.
</p>
<p>
5.0.3 The use of the Marketplace is subject to the unconditional acceptance and respect of these T&Cs and specifically of the following articles.
</p>
<p>
Article 5.1 – Sale and exchange
</p>
<p>
5.1.1 Users holding Collectibles have the ability to sell them throughout the Hub when the Collectible is available (e.g. not locked into a team within the « catch’em all »).
</p>
<p>
5.1.2 At the time of the sale, the User chooses a floor price for the auction of his/her Collectible. He/she also chooses a duration for the auction. The Service does not intervene in any way in the sale between Buyer and Seller within the Hub. However, even if the Service never acts as a counterpart to this sale and does not take part in the determination of the price, this one will be secured.
</p>
<p>
5.1.3 In return for making the Hub available, the Service charges a commission on the sale of the Collectibles of an amount that is always specified in advance to the parties.
</p>
<p>
5.1.4 During the sale, and unless the Seller stops the sale before its expiration date, the Collectible is no longer accessible by its owner. At the end of the sale, the Collectible is automatically transferred to the last bidder.
</p>
<p>
5.1.5 It is expressly agreed that payment for the Collectible will be made using the Cryptocurrencies supported by the Service. Payment will be made concurrently with the transfer of the Collectible to the last bidder. The Seller shall bear the exchange-rate risk on the value of the Cryptocurrency into fiat currency at the time of transfer and at the end of the sale.
</p>
<p>
Article 5.2 – Referencing
</p>
<p>
Article 5.3 – Reviews
</p>
<p>
Article 5.4 – Tax and social security obligations
</p>
<p>
5.4.1 The Service draws the attention of the Users that receiving Cryptocurrencies in return for the sale of their Collectibles is likely to constitute an income subject to tax and social contributions.
</p>
<p>
5.4.2 It is the Users sole responsibility to declare the income from the Sales of their Collectible to the competent Tax Administration and Social Security Administration.
</p>
<p>
5.4.3 The Service makes available to each Sellers established or located in France or having sold Collectible to Buyers established or located in France, at the beginning of the year, a statement of transactions summarizing the annual amount of cryptocurrencies received by its intermediary on their Service’ account.
</p>
<p>
Article 5.5 – Disputes on the Hub
</p>
<p>
5.5.1 As part of its Marketplace service, the Service acts as a mere intermediary between Sellers and Buyers. As such, the Service shall not be held liable for for damages caused by a sale, due to the price or an act done by one of the parties.
</p>
<p>
5.5.2 In addition, the services provided through the Hub takes place only between the Buyer and the Seller. The Service’s responsibility cannot be incurred in respect of such services from which the Service is unconcerned.
</p>
<p>
5.5.3 Therefore, any claim must be addressed by the Buyer to the Seller. The Seller is solely responsible for the claims processing. Nevertheless, the Service reserves the right to take part in arbitration, in its discretion, if the Seller does not provide a response to a request nor a settlement to a dispute.
</p>

<h2>Article 6 – Liability of the Users</h2>
<p>
6.0.1 The User guarantees the Service against any breach, exceeding the foreseeable risk, that could result from the use of the Service by a User.
</p>
<p>
6.0.2 The User undertakes to use the Service only in accordance with the T&Cs. It is not authorized to reconstruct the Service, decompile, disassemble or circumvent the technical restrictions it contains, except to the extent that such operations would be permitted by applicable laws. It is also prohibited to lend, rent, lease, resell, transfer or host the Service to or for third parties, unless expressly authorized by the Service.
</p>
<p>
6.0.3 The User guarantees the Service against fraudulent, unfair or bad faith use of the service, in particular if this interferes with the use of the service by other Users.
</p>
<p>
6.0.4 The Service reserves the right to suspend or delete a User's account in violation of these T&C, without prior notice or compensation.
</p>

<h2>Article 7 – Liability of the Service</h2>
<p>
NFTimable works hard to provide you with a service that works day by day. Nevertheless, NFTimable is made by people team so mistakes can be made.
</p>
<p>
If we make a mistake in the execution of our mission, we will be accountable!
</p>
<p>
Article 7.1 – Service content
</p>
<p>
7.1.1 As a hosting provider, the Service is subject to a limited liability regime as provided by the EU Directive of the 8 june 2000 (2000/31/EC) on E-commerce.
</p>
<p>
7.1.2 Therefore, the Service cannot be held liable for the content released by the Users as well as the contents exchanged between them and gives no guarantee, express or implicit, in this respect. The Service is a third party to Users relationships and thereby excludes any liability in this regard.
</p>
<p>
Article 7.2 – Liability limitation
</p>
<p>
7.2.1 The Service undertakes to implement all the necessary means to ensure the best delivery of the services provided. However, the Service can only be bound by an obligation of best endeavour.
</p>
<p>
7.2.2 In the event of failure of the Service, it shall be liable only for direct and reasonably foreseeable damage, unless otherwise provided by law or regulation. Indirect damages that may result from failure or use of the Service are expressly excluded.
</p>
<p>
In any event, the Service may not, unless otherwise provided by law or regulation, be held liable beyond the amounts invoiced to the User by the Service during the last twelves months.
</p>
<p>
7.2.3 In particular, the Service shall not be held liable for:
</p>
<p>
Breakdowns or malfunctions of the services offered that are not the responsibility of the company;
data losses of Users not being imputable to it;
an unusual or illegal use of the services offered, by a third party or by a User;
direct or indirect damage resulting from the use of the Service offered;
a malfunction or cyber attack;
an adverse event during the auction, both in the course of the process and at the stage of establishing the floor price and the final price ;
any case of force majeure, within the meaning of Article 1218 of the French civil code, including a failure of the Blockchain protocol used to run the Service.
</p>
<h2>Article 8 – Intellectual property</h2>
<p>
Let’s be clear, Nftimable is, and will remain, the owner of its brand, its design, its algos and its know-how. In other words, do not try to steal its elements at the risk of being pursued by lawyers.
</p>
<p>
As the collectibles’ competition is public and with promotional purpose, NFTimable may use the name of your collectible for marketing end.
</p>

<p>Article 8.1 – Users’ content</p>
<p>
8.1.1 The User grants to the Service the right of exclusive exploitation, transferable, sublicensable, free of charge, for the whole world on the content he/she produces on the Service.
</p>
<p>
8.1.2 The rights thus granted include the right to reproduce, represent, distribute, adapt, modify, create a derivative work, translate all or part of the content by any means, in any form whatsoever and on all media known or unknown to date as part of the service of the Service or in line with its activities, and this for commercial purposes or not and advertising, as well as to broadcast on social networks that the Service uses.
</p>
<p>
Article 8.2 – Service content
</p>
<p>
8.2.1 All intellectual property rights on the website content, excluding the Users generated content, are the Service property. They are provided free of charge within the exclusive framework of the use of the Service. Therefore, any use of these contents without the prior permission of the Service is unlawful.
</p>
<p>
8.2.2 The Service is the service’s database producer. Any unauthorized extraction or reproduction is prohibited.
</p>

<h2>9 – Privacy policy </h2> 
<p>
NFTimable is fully committed to respecting your privacy and the confidentiality of your data, which is the least we can do for a decentralized service.
</p>
<p>
More precisely, our service is compliant with the GDPR: if you wish to exercise your rights, send a detailed and motivated email to contact@nftimable.com
</p>
<p>
Article 9.1 – Personal data
</p>
<p>
9.1.1 The Service is required to collect some Users’ personal data, by any means and, in particular, during the User account creation. The communication of the personal data requested by the Service by Users is strictly necessary for the services performance. Therefore, its communication is essential for the fulfillment of the parties’ contractual obligations. Consequently, without the requested information communication, the Service will not be able to establish contractual relations with the User.
</p>
<p>
9.1.2 Users agree that their personal data will be transmitted by the Service to other Users or, if needed, to their representatives, for the sole purpose of enabling the Service performance and under the provided conditions for herein.
</p>
<p>
9.1.3 The personal data collected by the Service shall be stored for the time necessary to fulfill the Parties contractual obligations, subject to the legal obligations of the Service.
</p>
<p>
9.1.4 The Service implements appropriate technical and organizational measures to ensure the security of personal data collected from its Users. However, in case of doubt by the User on the security of the protection of his personal data and in particular, on the security of his personal account, the User agrees to expose his situation to the Service as soon as possible.
</p>
<p>
9.1.5 Users have the right to access, rectify and delete their personal data. Anyone may also, for legitimate reasons, oppose the processing of their data. Users may exercise these rights at any time by sending their request to the following email address : contact@nftimable.com.
</p>
<p>
Article 9.2 – Cookies
</p>

<p>
9.2.1 During the consultation of the Service, cookies may be registered on the User's electronic communications equipment to make the website use easier and to collect statistics relating to attendance and access.
</p>
<p>
9.2.2 Cookies are text files that the website records on the terminal from which it is accessed in order to store various technical data to facilitate the website use and to collect statistical information about its Users.
</p>
<p>
9.2.3 Users are informed beforehand of the store on their terminal information. Users are free to accept or refuse the storage of cookies. Continuing to navigate on the website after having been informed means that the User accepts the data collection.
</p>

<h2>Article 10 – Hyperlink</h2>
<p>
If you click on a link that leaves the Website, NFTimable is not responsible for what happens on the other side!
</p>
<p>
The Service may contain hypertext links redirecting to third party sites. The Service has no control over these sites and declines all responsibility for access, content or use of these sites.
</p>
<h2>Article 11 – Amendment</h2>
<p>
NFTimable will be able, in your interest or its own, to add, modify or delete its services but also the rules of the competition!
</p>
<p>
11.0.1 The Service reserves the right to modify or stop the accessibility of all or part of the services and/or the Website or Applications at any time.
</p>
<p>
11.0.2 The Service reserves the right to modify, at any time, all or part of the T&Cs. Users' use of the Service constitutes their acceptance of the T&C amendment. The applicable version of the T&Cs is the latest version published on the date of use of the services offered by the Service.
</p>

<h2>Article 12 – Non waiver</h2>
<p>
The fact that NFTimable does not invoke a clause in the spring does not mean that it will not be able to invoke it in the summer. Similarly, if a clause is no longer valid – because of a change in legislation, for example – the rest of the Terms and Conditions will continue to apply as if nothing had happened.
</p>
<p>
12.0.1 Failure by the Service at any time to require the other party to perform any of its obligations under these T&Cs will not affect the right of the Service to request their execution thereafter.
</p>
<p>
12.0.2 The nullity of any clause of these T&Cs does not affect the validity and the obligation to respect the other clauses.
</p>

<h2>Article 13 – Jurisdiction and applicable law</h2>
<p>
13.1 – Applicable law
</p>
<p>
13.1.1 These T&Cs are governed by French law solely.
</p>
<p>
13.2 – Dispute and Mediation
</p>
<p>
13.2.1 In the event of a dispute arise between the Service and a User, the latter undertakes to inform the Customer Service Department at the following address: contact@NFTimable.com taking care to specify his contact details and to provide any information allowing to appreciate the origin and the implications of the dispute.
</p>
<p>
13.2.2 Consumers have the possibility to call an independent Ombudsman for free by sending a request to this effect, by email, to the address contact@nftimable.com or by mail addressed to nftimable company, XXX avenue Neil Armstrong 150160 Jupiter. Upon receipt, the Service undertakes to organize a mediation as soon as possible.
</p>
<p>
13.2.3 The User can also contact the online dispute resolution service of the European Commission at the following address: https://ec.europa.eu/consumers/odr.
</p>
<p>
13.3 – Jurisdiction
</p>
<p>
In case of dispute, the Consumer may seize the competent jurisdiction with territorial jurisdiction under the law. In the event of no mandatory jurisdiction by the law, only the courts of the jurisdiction of the Court of Appeal of Paris will be competent.
</p>