<div class="wrapper">
  <div class="page-header header-filter">
    <div class="squares square1"></div>
    <div class="squares square2"></div>
    <div class="squares square3"></div>
    <div class="squares square4"></div>
    <div class="squares square5"></div>
    <div class="squares square6"></div>
    <div class="squares square7"></div>
    <div class="container">
      <div class="content-center brand">
        <h1 class="brand-home" style="font-size: 150px;">NFTimable</h1>
        <h3  style="font-size: 32px;">Earn cash back on collectibles</h3>
      </div>
    </div>
  </div>
  <div class="main">
    <div class="section section-signup">
      <div class="container">
        <div class="squares square-1"></div>
        <div class="squares square-2"></div>
        <div class="squares square-3"></div>
        <div class="squares square-4"></div>
        <div class="row row-grid justify-content-between align-items-center">
          <div class="col-lg-6">
            <h3 class="display-3 text-white">A beautiful Black Design
              <span class="text-white">completed with examples</span>
            </h3>
            <p class="text-white mb-3">The Design System comes with four pre-built pages to help you get started faster.
              You can change the text and images and you're good to go. More importantly, looking at them will give you
              a picture of what you can built with this powerful Bootstrap 4 Design System.</p>
            <div class="btn-wrapper">
              <a href="examples/register-page.html" class="btn btn-info">Register Page</a>
            </div>
          </div>
          <div class="col-lg-6 mb-lg-auto">
            <div class="card card-register">
              <div class="card-header">
                <img class="card-img" src="assets/img/square1.png" alt="Card image">
                <h4 class="card-title">Register</h4>
              </div>
              <div class="card-body">
                <form class="form">
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-single-02"></i>
                      </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Full Name">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-email-85"></i>
                      </div>
                    </div>
                    <input type="text" placeholder="Email" class="form-control">
                  </div>
                  <div class="input-group">
                    <div class="input-group-prepend">
                      <div class="input-group-text">
                        <i class="tim-icons icon-lock-circle"></i>
                      </div>
                    </div>
                    <input type="text" class="form-control" placeholder="Password">
                  </div>
                  <div class="form-check text-left">
                    <label class="form-check-label">
                      <input class="form-check-input" type="checkbox">
                      <span class="form-check-sign"></span>
                      I agree to the
                      <a href="javascript:void(0)">terms and conditions</a>.
                    </label>
                  </div>
                </form>
              </div>
              <div class="card-footer">
                <a href="javascript:void(0)" class="btn btn-info btn-round btn-lg">Get Started</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section section-examples" data-background-color="black">
      <img src="assets/img/path1.png" class="path">
      <div class="space-50"></div>
      <div class="container text-center">
        <div class="row">
          <div class="col-sm-6">
            <a href="examples/landing-page.html">
              <img src="assets/img/landing-page.png" alt="Image" class="img-raised">
            </a>
            <a href="examples/landing-page.html" class="btn btn-simple btn-primary btn-round">View Landing Page</a>
          </div>
          <div class="col-sm-6">
            <a href="examples/profile-page.html">
              <img src="assets/img/profile-page.png" alt="Image" class="img-raised">
            </a>
            <a href="examples/profile-page.html" class="btn btn-simple btn-primary btn-round">View Profile Page</a>
          </div>
        </div>
      </div>
    </div>
    <!-- Sart Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="tim-icons icon-simple-remove"></i>
            </button>
            <h4 class="title title-up">Modal title</h4>
          </div>
          <div class="modal-body">
            <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the
              blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language
              ocean. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is
              a paradisematic country, in which roasted parts of sentences fly into your mouth.
            </p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default">Nice Button</button>
            <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <!--  End Modal -->
    <!-- Mini Modal -->
    <div class="modal fade modal-mini modal-primary modal-mini" id="myModal1" tabindex="-1" role="dialog"
      aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header justify-content-center">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
              <i class="tim-icons icon-simple-remove text-white"></i>
            </button>
            <div class="modal-profile">
              <i class="tim-icons icon-single-02"></i>
            </div>
          </div>
          <div class="modal-body">
            <p>Always have an access to your profile</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-link btn-neutral">Back</button>
            <button type="button" class="btn btn-link btn-neutral" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <footer class="footer">
    <div class="container">
      <div class="row">
        <div class="col-md-3">
          <h1 class="title">NFTimable</h1>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a href="./index.html" class="nav-link">
                Home
              </a>
            </li>
            <li class="nav-item">
              <a href="./examples/landing-page.html" class="nav-link">
                Landing
              </a>
            </li>
            <li class="nav-item">
              <a href="./examples/register-page.html" class="nav-link">
                Register
              </a>
            </li>
            <li class="nav-item">
              <a href="./examples/profile-page.html" class="nav-link">
                Profile
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul class="nav">
            <li class="nav-item">
              <a href="https://creative-tim.com/contact-us" class="nav-link">
                Contact Us
              </a>
            </li>
            <li class="nav-item">
              <a href="https://creative-tim.com/about-us" class="nav-link">
                About Us
              </a>
            </li>
            <li class="nav-item">
              <a href="https://creative-tim.com/blog" class="nav-link">
                Blog
              </a>
            </li>
            <li class="nav-item">
              <a href="https://opensource.org/licenses/MIT" class="nav-link">
                License
              </a>
            </li>
          </ul>
        </div>
        <div class="col-md-3">
          <h3 class="title">Follow us:</h3>
          <div class="btn-wrapper profile">
            <a target="_blank" href="https://twitter.com/creativetim"
              class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip"
              data-original-title="Follow us">
              <i class="fab fa-twitter"></i>
            </a>
            <a target="_blank" href="https://www.facebook.com/creativetim"
              class="btn btn-icon btn-neutral btn-round btn-simple" data-toggle="tooltip" data-original-title="Like us">
              <i class="fab fa-facebook-square"></i>
            </a>
            <a target="_blank" href="https://dribbble.com/creativetim"
              class="btn btn-icon btn-neutral  btn-round btn-simple" data-toggle="tooltip"
              data-original-title="Follow us">
              <i class="fab fa-dribbble"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </footer>
</div>