<div class="wrapper">
    <div class="main">
        <div class="section section-signup">
            <div class="container">
                <div class="squares square-1"></div>
                <div class="squares square-2"></div>
                <div class="squares square-3"></div>
                <div class="squares square-4"></div>
                <div class="row row-grid justify-content-between align-items-center">
                    <div class="col-lg-6">
                        <h3 class="display-3 text-white">Login
                            <span class="text-white">or Register</span>
                        </h3>
                        <p class="text-white mb-3">You already have an account.</p>
                        <div class="btn-wrapper">
                            <a href="javascript:void(0)" class="btn btn-info" (click)="loginPopup()">Login</a>
                        </div>
                    </div>
                    <div class="col-lg-6 mb-lg-auto">
                        <div class="card card-register">
                            <div class="card-header">
                                <img class="card-img" src="assets/img/square1.png" alt="Card image">
                                <h4 class="card-title">Register</h4>
                            </div>
                            <div class="card-body">
                                <form class="form">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-single-02"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control"  placeholder="First name" [(ngModel)]="user.firstName" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-single-02"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Name" [(ngModel)]="user.name" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-email-85"></i>
                                            </div>
                                        </div>
                                        <input type="text"  placeholder="Email" class="form-control" [(ngModel)]="user.email" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">
                                                <i class="tim-icons icon-lock-circle"></i>
                                            </div>
                                        </div>
                                        <input type="text" class="form-control" placeholder="Password" [(ngModel)]="user.passwd" [ngModelOptions]="{standalone: true}">
                                    </div>
                                    <div class="form-check text-left"  id="modals">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            <span class="form-check-sign"></span>
                                            I agree to the
                                            <a href="javascript:void(0)" (click)="showDisclaimer()">terms and conditions</a>.

                                        </label>
                                    </div>
                                </form>
                            </div>
                            <div class="card-footer">
                                <a href="javascript:void(0)" class="btn btn-info btn-round btn-lg" (click)="register()">Get Started</a>
                                <a href="javascript:void(0)" class="btn btn-info btn-round btn-lg" (click)="test()">Test</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
